.hero_nav {
  overflow-x: hidden;
  position: relative;
  @media screen and (min-width: 990px) {
    height: 800px;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: $headerColor;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    transition: 0.3s ease-in-out;
    @media screen and (min-width: 990px) {
      width: 45%;
      height: 800px;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  nav {
    .wrapper {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 700px) {
        padding: 3rem 0;
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 4;
        cursor: pointer;
        img {
          width: 170px;
          transition: 1s ease-in-out;
          @media screen and (min-width: 700px) {
            width: 240px;
          }
        }
      }
      .cart-icon-nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_links {
          margin-right: 2rem;
          transition: 0.8s ease-in-out;
          position: relative;
          z-index: 2;
          @media screen and (max-width: 700px) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: $headerColor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 3;
            padding: 7rem 1rem;
            transform: translateX(100rem);
          }
          a {
            color: white;
            margin: 0 1rem;
            transition: 0.3s ease-in-out;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 0.9rem;
            @media screen and (max-width: 700px) {
              margin: 0.8rem 1rem;
              font-size: 1.5rem;
            }
            &:hover {
              color: #7e73f7;
            }
          }
        }
        .nav_links.active {
          @media screen and (max-width: 700px) {
            transform: translateX(0rem);
          }
        }
        .cart_icon {
          margin-right: 1rem;
          cursor: pointer;
          position: relative;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            .iconify {
              color: #7e73f7;
            }
          }
          .iconify {
            font-size: 2rem;
            transition: 0.3s ease-in-out;
            @media screen and (min-width: 990px) {
              color: white;
            }
          }
          .total_items {
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            display: inline-block;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $headerColor;
            color: white;
            font-size: 0.7rem;
            @media screen and (min-width: 990px) {
              background-color: $twitchcolor;
              color: white;
            }
          }
        }
        .burger_icon {
          width: 45px;
          height: 45px;
          background-color: $twitchcolor;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          padding: 0.6rem 0;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          position: relative;
          z-index: 4;
          &:hover {
            transform: translateY(-4px);
          }
          @media screen and (min-width: 700px) {
            display: none;
          }

          span {
            display: block;
            width: 25px;
            height: 1px;
            background-color: white;
            transform-origin: center;
            transition: 0.3s ease-in-out;
          }
        }
        .burger_icon.active {
          span:nth-child(1) {
            transform: translate(0, 9px) rotate(45deg);
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            transform: translate(0, -9px) rotate(-45deg);
          }
        }
      }
      .cart_items_wrapper {
        position: fixed;
        opacity: 1;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0e0749d3;
        z-index: 100;
        opacity: 0;
        transition: 1s ease-in-out;
        transform: translateX(-100rem);
        .cart_items {
          width: 100%;
          height: 100%;
          background: white;
          transform: translateX(200rem);
          transition: 1s ease-in-out;
          opacity: 0;
          @media screen and (min-width: 700px) {
            float: right;
            width: 500px;
          }
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.4rem 2rem;
            border-bottom: 0.2px solid rgb(233, 233, 233);
            .yr_cart {
              font-size: 1.3rem;
            }
            .iconify {
              font-size: 2rem;
              cursor: pointer;
              transition: 0.3s ease-in-out;
            }
          }
          .item_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            p {
              font-size: 1.2rem;
              color: $headerColor;
              padding: 2rem 0;
            }
            button {
              padding: 1.5rem 3rem;
              margin: 0.4rem 0;
              border: 2px solid $headerColor;
              font-size: 1rem;
              transition: 0.4s ease-in-out;
              background-color: $twitchcolor;
              color: white;
              &:hover {
                background-color: rgb(87, 87, 87);
                transform: translateY(-3px);
              }
            }
          }
        }
        .cart_items.active {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .cart_items_wrapper.active {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  .hero {
    position: relative;
    z-index: 1;
    .wrapper {
      padding-bottom: 2rem;
      @media screen and (min-width: 950px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .hero_content {
        padding: 2rem 0;
        text-align: center;
        @media screen and (min-width: 990px) {
          text-align: left;
          width: 40%;
        }
        .subtitle {
          font-size: 1rem;
        }
        h1 {
          font-size: 2.5rem;
          margin: 1rem 0;
          font-weight: normal;
          color: $headerColor;
          @media screen and (min-width: 990px) {
            font-size: 4rem;
          }
        }
        .btns_wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem 0;
          @media screen and (min-width: 750px) {
            flex-direction: row;
          }
          button {
            display: block;
            width: 100%;
            padding: 1.5rem 0;
            margin: 0.4rem 0;
            border: 2px solid $headerColor;
            font-size: 1rem;
            transition: 0.4s ease-in-out;
            max-width: 500px;
            &:hover {
              transform: translateY(-3px);
            }
            @media screen and (min-width: 750px) {
              width: 180px;
              font-size: 1.2rem;
            }
          }
          .buy {
            background-color: $twitchcolor;
            color: white;
            &:hover {
              background-color: rgb(87, 87, 87);
              color: white;
            }
          }
          .learn {
            border: 2px solid $headerColor;
            color: #686666;
            @media screen and (min-width: 750px) {
              margin: 0 1rem;
            }
            &:hover {
              background-color: $twitchcolor;
              color: white;
            }
          }
        }
      }
      .hero_img {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 750px) {
          width: 55%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
