@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Arimo", sans-serif;
  background-color: #f6f6f6;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.subtitle {
  color: #4a3aff;
  font-size: 1rem;
  font-weight: 600;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

p {
  color: #6e7191;
  font-size: 18px;
  line-height: 1.667em;
  font-weight: 300;
}

.header {
  color: white;
}

@media screen and (min-width: 600px) {
  .header {
    text-align: center;
    width: 600px;
    margin: auto;
  }
}

.header .subtitle {
  color: #9c93ff;
}

.header h1 {
  margin-top: 1rem;
  font-size: 2.2rem;
}

@media screen and (min-width: 600px) {
  .header h1 {
    font-size: 3rem;
  }
}

.hero_nav {
  overflow-x: hidden;
  position: relative;
}

@media screen and (min-width: 1020px) {
  .hero_nav {
    height: 860px;
  }
}

.hero_nav::before {
  content: "";
  position: absolute;
  background-color: #181830;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1010px) {
  .hero_nav::before {
    width: 45%;
    height: 860px;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.hero_nav nav .wrapper {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  .hero_nav nav .wrapper {
    padding: 3rem 0;
  }
}

.hero_nav nav .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero_nav nav .wrapper .logo:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.hero_nav nav .wrapper .logo img {
  width: 170px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media screen and (min-width: 700px) {
  .hero_nav nav .wrapper .logo img {
    width: 240px;
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_nav nav .wrapper .cart-icon-nav-links .nav_links {
  margin-right: 2rem;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .nav_links {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #181830;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
    padding: 7rem 1rem;
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .nav_links a {
  color: white;
  margin: 0 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .nav_links a {
    margin: 0.8rem 1rem;
    font-size: 1.5rem;
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .nav_links a:hover {
  color: #7e73f7;
}

@media screen and (max-width: 700px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .nav_links.active {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .cart_icon {
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_nav nav .wrapper .cart-icon-nav-links .cart_icon:hover .iconify {
  color: #7e73f7;
}

.hero_nav nav .wrapper .cart-icon-nav-links .cart_icon .iconify {
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 990px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .cart_icon .iconify {
    color: white;
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .cart_icon .total_items {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #181830;
  color: white;
  font-size: 0.7rem;
}

@media screen and (min-width: 990px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .cart_icon .total_items {
    background-color: #4a3aff;
    color: white;
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon {
  width: 45px;
  height: 45px;
  background-color: #4a3aff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.6rem 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 4;
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media screen and (min-width: 990px) {
  .hero_nav nav .wrapper .cart-icon-nav-links .burger_icon {
    display: none;
  }
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon.active span:nth-child(1) {
  -webkit-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg);
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon.active span:nth-child(2) {
  opacity: 0;
}

.hero_nav nav .wrapper .cart-icon-nav-links .burger_icon.active span:nth-child(3) {
  -webkit-transform: translate(0, -9px) rotate(-45deg);
          transform: translate(0, -9px) rotate(-45deg);
}

.hero_nav nav .wrapper .cart_items_wrapper {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0e0749d3;
  z-index: 100;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items {
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transform: translateX(200rem);
          transform: translateX(200rem);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
}

@media screen and (min-width: 700px) {
  .hero_nav nav .wrapper .cart_items_wrapper .cart_items {
    float: right;
    width: 500px;
  }
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 2rem;
  border-bottom: 0.2px solid #e9e9e9;
  color: #181830;
  width: 100%;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .header .yr_cart {
  font-size: 1.3rem;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .header .iconify {
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .item_wrapper p {
  font-size: 1.2rem;
  color: #181830;
  padding: 2rem 0;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .item_wrapper button {
  padding: 1.5rem 3rem;
  margin: 0.4rem 0;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #4a3aff;
  color: white;
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items .item_wrapper button:hover {
  background-color: #575757;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.hero_nav nav .wrapper .cart_items_wrapper .cart_items.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.hero_nav nav .wrapper .cart_items_wrapper.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.hero_nav .hero .wrapper {
  padding-bottom: 2rem;
}

@media screen and (min-width: 950px) {
  .hero_nav .hero .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
}

.hero_nav .hero .wrapper .hero_content {
  padding: 2rem 0;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .hero_nav .hero .wrapper .hero_content {
    text-align: left;
    width: 40%;
  }
}

.hero_nav .hero .wrapper .hero_content .subtitle {
  font-size: 1rem;
}

.hero_nav .hero .wrapper .hero_content h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: normal;
  color: #181830;
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 990px) {
  .hero_nav .hero .wrapper .hero_content h1 {
    font-size: 4rem;
  }
}

.hero_nav .hero .wrapper .hero_content P {
  max-width: 500px;
  margin: auto;
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 900px) {
  .hero_nav .hero .wrapper .hero_content .btns_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .hero_nav .hero .wrapper .hero_content .btns_wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0.4rem 0;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 850px) {
  .hero_nav .hero .wrapper .hero_content .btns_wrapper button {
    width: 180px;
    font-size: 1.2rem;
  }
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper .buy {
  background-color: #4a3aff;
  color: white;
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper .buy:hover {
  background-color: #575757;
  color: white;
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper .learn {
  border: 2px solid #181830;
  color: #4d4c4c;
  background-color: white;
}

@media screen and (min-width: 750px) {
  .hero_nav .hero .wrapper .hero_content .btns_wrapper .learn {
    margin: 0 1rem;
  }
}

.hero_nav .hero .wrapper .hero_content .btns_wrapper .learn:hover {
  background-color: #4a3aff;
  color: white;
}

.hero_nav .hero .wrapper .hero_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 950px) {
  .hero_nav .hero .wrapper .hero_img {
    width: 55%;
  }
}

.hero_nav .hero .wrapper .hero_img img {
  width: 100%;
}

.home_sponsors {
  border-bottom: 0.2px solid #d4d4d4;
}

.home_sponsors .wrapper {
  text-align: center;
  padding: 3rem 2rem;
}

@media screen and (min-width: 900px) {
  .home_sponsors .wrapper {
    padding: 7rem 4rem 3rem;
  }
}

.home_sponsors .wrapper h4 {
  color: #181830;
}

.home_sponsors .wrapper .sponsors_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home_sponsors .wrapper .sponsors_wrp img {
  width: 100px;
  margin: 0 0.4rem 0.4rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 900px) {
  .home_sponsors .wrapper .sponsors_wrp img {
    width: 130px;
  }
}

.home_sponsors .wrapper .sponsors_wrp .pinterest {
  margin-top: 1rem;
}

.about_conference .wrapper {
  padding: 7rem 0;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about_conference .wrapper .about_content {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 550px) {
  .about_conference .wrapper .about_content {
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_content {
    width: 46%;
    text-align: left;
    margin: 0;
  }
}

.about_conference .wrapper .about_content h1 {
  margin: 1rem 0;
  color: #181830;
  max-width: 450px;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_content h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.about_conference .wrapper .about_content button {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2rem;
  background-color: #4a3aff;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
  color: white;
}

.about_conference .wrapper .about_content button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #505050;
}

@media screen and (min-width: 850px) {
  .about_conference .wrapper .about_content button {
    width: 180px;
    font-size: 1.2rem;
  }
}

.about_conference .wrapper .about_split_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6rem 0 0;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_split_info {
    width: 48%;
  }
}

.about_conference .wrapper .about_split_info .square {
  width: 48%;
  height: 160px;
  background-color: #e6e7eb;
  margin: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #181830;
  font-weight: 600;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_split_info .square {
    height: 250px;
  }
}

.about_conference .wrapper .about_split_info .square .number {
  font-size: 3.5rem;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_split_info .square .number {
    font-size: 5rem;
  }
}

.about_conference .wrapper .about_split_info .square .text {
  color: #6e7191;
  font-size: 1rem;
}

.about_conference .wrapper .about_split_info .square:nth-child(1) {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.about_conference .wrapper .about_split_info .square:nth-child(2) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.about_conference .wrapper .about_split_info .square:nth-child(3) {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.about_conference .wrapper .about_split_info .square:nth-child(4) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.about_conference .wrapper .about_split_info .active {
  background-color: #4a3aff;
  color: white !important;
  -webkit-box-shadow: 5px 5px #252525;
          box-shadow: 5px 5px #252525;
}

@media screen and (min-width: 950px) {
  .about_conference .wrapper .about_split_info .active {
    -webkit-box-shadow: 7px 7px #252525;
            box-shadow: 7px 7px #252525;
  }
}

.about_conference .wrapper .about_split_info .active .text {
  color: #c7c7c7 !important;
}

.meet_team {
  background-color: #181830;
}

.meet_team .wrapper {
  padding: 5rem 0;
}

.meet_team .wrapper .team_wrp {
  padding: 4rem 0;
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
}

@media screen and (min-width: 600px) {
  .meet_team .wrapper .team_wrp {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .meet_team .wrapper .team_wrp {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.meet_team .wrapper .team_wrp .cart {
  background-color: #333354;
  padding: 1rem;
  color: white;
  position: relative;
  cursor: pointer;
}

.meet_team .wrapper .team_wrp .cart:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.meet_team .wrapper .team_wrp .cart:hover .Y {
  -webkit-transform: translate(8px, 4px);
          transform: translate(8px, 4px);
}

.meet_team .wrapper .team_wrp .cart:hover .Y .top {
  height: 40% !important;
  width: 3px !important;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
}

.meet_team .wrapper .team_wrp .cart:hover .Y .down {
  height: 40% !important;
  -webkit-transform: skew(-50deg);
          transform: skew(-50deg);
  width: 3px !important;
}

.meet_team .wrapper .team_wrp .cart p {
  color: white;
}

.meet_team .wrapper .team_wrp .cart .persone_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 1rem auto;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.meet_team .wrapper .team_wrp .cart .persone_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.meet_team .wrapper .team_wrp .cart .arrow {
  width: 60px;
  height: 60px;
  background-color: #4a3aff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.meet_team .wrapper .team_wrp .cart .arrow .Y {
  height: 50%;
  width: 2px;
  margin: auto;
  position: relative;
  top: 26%;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.meet_team .wrapper .team_wrp .cart .arrow .Y .top {
  height: 50%;
  width: 100%;
  background-color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  position: relative;
  z-index: 2;
}

.meet_team .wrapper .team_wrp .cart .arrow .Y .down {
  height: 50%;
  width: 100%;
  background-color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  position: relative;
  z-index: 2;
}

.meet_team .wrapper .team_wrp .cart .arrow .X {
  width: 50%;
  height: 2px;
  margin: auto;
  background-color: white;
  position: relative;
  z-index: 1;
}

.meet_team .wrapper .btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 900px) {
  .meet_team .wrapper .btns_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.meet_team .wrapper .btns_wrapper button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0.8rem 0;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
}

.meet_team .wrapper .btns_wrapper button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 850px) {
  .meet_team .wrapper .btns_wrapper button {
    width: 180px;
    font-size: 1.2rem;
  }
}

.meet_team .wrapper .btns_wrapper .buy {
  background-color: #4a3aff;
  color: white;
}

.meet_team .wrapper .btns_wrapper .buy:hover {
  background-color: #575757;
  color: white;
}

.meet_team .wrapper .btns_wrapper .speakers {
  color: #4d4c4c;
  background-color: white;
}

@media screen and (min-width: 750px) {
  .meet_team .wrapper .btns_wrapper .speakers {
    margin: 0 1rem;
  }
}

.meet_team .wrapper .btns_wrapper .speakers:hover {
  background-color: #4a3aff;
  color: white;
}

.agenda .wrapper {
  padding: 8rem 0;
}

.agenda .wrapper .header .subtitle {
  color: #4a3aff;
}

.agenda .wrapper .header h1 {
  color: #181830;
}

.agenda .wrapper .agendas_wrp {
  padding: 4rem 0;
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  max-width: 950px;
  margin: auto;
}

.agenda .wrapper .agendas_wrp .agenda_session {
  background-color: white;
  padding: 2rem 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
  }
}

.agenda .wrapper .agendas_wrp .agenda_session:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 1px 1px 10px #f0efef;
          box-shadow: 1px 1px 10px #f0efef;
}

.agenda .wrapper .agendas_wrp .agenda_session:hover .infos_wrp .cta {
  color: #4a3aff;
}

.agenda .wrapper .agendas_wrp .agenda_session:hover h2 {
  color: #4a3aff;
}

.agenda .wrapper .agendas_wrp .agenda_session:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp {
  margin-bottom: 2rem;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session .infos_wrp {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181830;
  font-weight: bold;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp .head .day {
  background-color: #4a3aff;
  color: white;
  padding: 0.7rem 0.8rem;
  font-size: 0.9rem;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp .head span {
  display: inline-block;
  width: 15px;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 0.25rem;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp h2 {
  color: #181830;
  margin: 1rem 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp P {
  padding-bottom: 1rem;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: dimgray;
  position: relative;
}

.agenda .wrapper .agendas_wrp .agenda_session .infos_wrp .cta svg {
  margin-right: 0.6rem;
  font-size: 2.2rem;
}

.agenda .wrapper .agendas_wrp .agenda_session .line {
  width: 100%;
  height: 1px;
  background-color: #e7e6e6;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session .line {
    height: 90%;
    width: 1px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 2rem;
  }
}

.agenda .wrapper .agendas_wrp .agenda_session .speaker_info {
  padding: 2rem 0 0;
  color: #181830;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session .speaker_info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.agenda .wrapper .agendas_wrp .agenda_session .speaker_info .img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session .speaker_info .img {
    width: 150px;
    height: 150px;
  }
}

.agenda .wrapper .agendas_wrp .agenda_session .speaker_info .img img {
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.agenda .wrapper .agendas_wrp .agenda_session .speaker_info span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (min-width: 780px) {
  .agenda .wrapper .agendas_wrp .agenda_session .speaker_info span {
    padding: 1rem 0;
  }
}

.agenda .wrapper .cta_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 900px) {
  .agenda .wrapper .cta_btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.agenda .wrapper .cta_btns button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0.4rem 0;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
}

.agenda .wrapper .cta_btns button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 850px) {
  .agenda .wrapper .cta_btns button {
    width: 200px;
    font-size: 1.2rem;
  }
}

.agenda .wrapper .cta_btns .buy {
  background-color: #4a3aff;
  color: white;
}

.agenda .wrapper .cta_btns .buy:hover {
  background-color: #575757;
  color: white;
}

.agenda .wrapper .cta_btns .learn {
  border: 2px solid #181830;
  color: #4d4c4c;
}

@media screen and (min-width: 750px) {
  .agenda .wrapper .cta_btns .learn {
    margin: 0 1rem;
  }
}

.agenda .wrapper .cta_btns .learn:hover {
  background-color: #4a3aff;
  color: white;
}

.attending {
  background-color: #181830;
}

.attending .wrapper {
  padding: 6rem 0;
  width: 95%;
}

.attending .wrapper p {
  color: #d1d0d0;
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  .attending .wrapper .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .attending .wrapper .header .main_title {
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .attending .wrapper .header div {
    width: 45%;
  }
}

.attending .wrapper .header .text {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .attending .wrapper .header .text P {
    padding: 0;
  }
}

.attending .wrapper .attending_features {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  padding: 4rem 0;
}

@media screen and (min-width: 600px) {
  .attending .wrapper .attending_features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.attending .wrapper .attending_features .card_feature {
  background-color: #333354;
  padding: 2rem 1.5rem;
  color: white;
}

@media screen and (min-width: 600px) {
  .attending .wrapper .attending_features .card_feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
}

.attending .wrapper .attending_features .card_feature img {
  width: 80px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .attending .wrapper .attending_features .card_feature img {
    width: 100px;
  }
}

@media screen and (min-width: 600px) {
  .attending .wrapper .attending_features .card_feature div {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .attending .wrapper .attending_features .card_feature div h2 {
    font-size: 2.3rem;
  }
}

.attending .wrapper .cta_btn {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attending .wrapper .cta_btn button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0.4rem 0;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
}

.attending .wrapper .cta_btn button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 850px) {
  .attending .wrapper .cta_btn button {
    width: 200px;
    font-size: 1.2rem;
  }
}

.attending .wrapper .cta_btn .buy {
  background-color: #4a3aff;
  color: white;
}

.attending .wrapper .cta_btn .buy:hover {
  background-color: #575757;
  color: white;
}

.conference_location .wrapper {
  padding: 5rem 0;
}

@media screen and (min-width: 700px) {
  .conference_location .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10rem 0;
  }
}

.conference_location .wrapper .location_content {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 550px) {
  .conference_location .wrapper .location_content {
    text-align: center;
    margin: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 700px) {
  .conference_location .wrapper .location_content {
    width: 48%;
    text-align: left;
    margin: 0;
  }
}

.conference_location .wrapper .location_content h1 {
  margin: 1rem 0;
  color: #181830;
}

@media screen and (min-width: 950px) {
  .conference_location .wrapper .location_content h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.conference_location .wrapper .location_content button {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2rem;
  background-color: #4a3aff;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
  color: white;
}

.conference_location .wrapper .location_content button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #505050;
}

@media screen and (min-width: 850px) {
  .conference_location .wrapper .location_content button {
    width: 180px;
    font-size: 1.2rem;
  }
}

.conference_location .wrapper .conference_revenu {
  width: 100%;
  height: 500px;
  background-image: url("../../images/confrence_venu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 4rem;
}

@media screen and (min-width: 600px) {
  .conference_location .wrapper .conference_revenu {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 950px) {
  .conference_location .wrapper .conference_revenu {
    width: 46%;
    height: 650px;
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.conference_location .wrapper .conference_revenu .location_info {
  width: 90%;
  margin: 2rem auto;
  height: 200px;
  background-color: white;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

@media screen and (min-width: 700px) {
  .conference_location .wrapper .conference_revenu .location_info {
    height: 250px;
  }
}

@media screen and (min-width: 700px) {
  .conference_location .wrapper .conference_revenu .location_info h3 {
    font-size: 2rem;
  }
}

.conference_location .wrapper .conference_revenu .location_info p {
  margin: 1rem 0;
}

.conference_location .wrapper .conference_revenu .location_info div {
  width: 110px;
  border-bottom: 1px solid #181830;
  padding: 0.3rem 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.conference_location .wrapper .conference_revenu .location_info div:hover {
  color: #4a3aff;
  border-color: #4a3aff;
}

.watch_v_conference {
  background-color: #181830;
}

.watch_v_conference .wrapper {
  padding: 5rem 0;
}

@media screen and (min-width: 600px) {
  .watch_v_conference .wrapper .header {
    max-width: 700px;
  }
}

.watch_v_conference .wrapper .video_conference {
  margin: 3rem 0;
}

.watch_v_conference .wrapper .video_conference .years_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #333354;
  max-width: 380px;
  margin: auto;
}

.watch_v_conference .wrapper .video_conference .years_wrapper div {
  padding: 1.3rem 2.3rem;
  color: #6e7191;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.watch_v_conference .wrapper .video_conference .years_wrapper div:hover {
  color: #4a3aff;
}

.watch_v_conference .wrapper .video_conference .years_wrapper .active {
  background-color: #4a3aff;
  color: white;
}

.watch_v_conference .wrapper .video_conference .years_wrapper .active:hover {
  color: white !important;
}

.watch_v_conference .wrapper .video_conference .video_wrapper {
  margin: 2rem 0;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.726);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.726);
}

@media screen and (min-width: 600px) {
  .watch_v_conference .wrapper .video_conference .video_wrapper {
    height: 600px;
  }
}

.watch_v_conference .wrapper .video_conference .video_wrapper .video_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.watch_v_conference .wrapper .video_conference .video_wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #18183081;
  z-index: 1;
}

.watch_v_conference .wrapper .video_conference .video_wrapper .play_btn {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.watch_v_conference .wrapper .video_conference .video_wrapper .play_btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.watch_v_conference .wrapper .video_conference .video_wrapper .play_btn img {
  width: 30px;
}

.watch_v_conference .wrapper .video_conference .cta_btn {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watch_v_conference .wrapper .video_conference .cta_btn button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0.4rem 0;
  border: 2px solid #181830;
  font-size: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  max-width: 500px;
}

.watch_v_conference .wrapper .video_conference .cta_btn button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 850px) {
  .watch_v_conference .wrapper .video_conference .cta_btn button {
    width: 200px;
    font-size: 1.2rem;
  }
}

.watch_v_conference .wrapper .video_conference .cta_btn .buy {
  background-color: #4a3aff;
  color: white;
}

.watch_v_conference .wrapper .video_conference .cta_btn .buy:hover {
  background-color: #575757;
  color: white;
}

.blog .wrapper {
  padding: 5rem 0;
}

@media screen and (min-width: 600px) {
  .blog .wrapper {
    padding: 10rem 0;
  }
}

.blog .wrapper .blog_header {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .blog .wrapper .blog_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .blog .wrapper .blog_header .main_title {
    text-align: left;
  }
}

.blog .wrapper .blog_header h1 {
  margin: 0.5rem 0;
}

@media screen and (min-width: 600px) {
  .blog .wrapper .blog_header h1 {
    font-size: 2.5rem;
  }
}

.blog .wrapper .blog_header .cta_btn {
  margin-top: 2rem;
  max-width: 250px;
  margin: 2rem auto;
}

@media screen and (min-width: 600px) {
  .blog .wrapper .blog_header .cta_btn {
    margin: 0;
  }
}

.blog .wrapper .blog_header .cta_btn button {
  width: 100%;
  background-color: white;
  padding: 1.5rem 2rem;
  color: #181830;
  border: 2px solid #181830;
  font-size: 1.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blog .wrapper .blog_header .cta_btn button:hover {
  background-color: #4a3aff;
  color: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.blog .wrapper .blogs_wrp {
  padding: 6rem 0 0;
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
}

@media screen and (min-width: 600px) {
  .blog .wrapper .blogs_wrp {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media screen and (min-width: 900px) {
  .blog .wrapper .blogs_wrp {
    padding: 4rem 0 0;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.blog .wrapper .blogs_wrp .article {
  cursor: pointer;
}

.blog .wrapper .blogs_wrp .article:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .wrapper .blogs_wrp .article:hover h2,
.blog .wrapper .blogs_wrp .article:hover .read_more {
  color: #4a3aff;
}

.blog .wrapper .blogs_wrp .article .article_img {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .wrapper .blogs_wrp .article .article_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blog .wrapper .blogs_wrp .article .date {
  color: #4a3aff;
  margin: 1rem 0;
}

.blog .wrapper .blogs_wrp .article h2 {
  margin: 1rem 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #181830;
  font-weight: 500;
}

.blog .wrapper .blogs_wrp .article .read_more {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #181830;
  margin: 1rem 0;
}

.blog .wrapper .blogs_wrp .article .read_more svg {
  font-size: 2.2rem;
  margin-right: 0.4rem;
}

.testimonials {
  background-color: #181830;
}

.testimonials .wrapper {
  padding: 5rem 0;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper {
    padding: 8rem 0;
  }
}

.testimonials .wrapper .testimonials_header {
  color: white;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .testimonials_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.testimonials .wrapper .testimonials_header h1 {
  margin: 1rem 0;
  max-width: 400px;
}

.testimonials .wrapper .testimonials_header .cta_btn {
  margin-top: 2rem;
  margin: 2rem auto;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .testimonials_header .cta_btn {
    margin: 0;
    max-width: 250px;
  }
}

.testimonials .wrapper .testimonials_header .cta_btn button {
  width: 100%;
  background-color: #4a3aff;
  padding: 1.5rem 2rem;
  color: white;
  border: 2px solid #181830;
  font-size: 1.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.testimonials .wrapper .testimonials_header .cta_btn button:hover {
  background-color: #4a3aff;
  color: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.testimonials .wrapper .cards_wrp {
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  padding: 3rem 0;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .cards_wrp {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media screen and (min-width: 900px) {
  .testimonials .wrapper .cards_wrp {
    padding: 4rem 0 0;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.testimonials .wrapper .cards_wrp .card {
  background-color: #333354;
  padding: 1.5rem;
}

.testimonials .wrapper .cards_wrp .card .persone_info img {
  width: 70px;
  border-radius: 100%;
  margin-bottom: 0.5rem;
}

.testimonials .wrapper .cards_wrp .card .persone_info h3 {
  color: white;
}

.testimonials .wrapper .cards_wrp .card .persone_info p {
  color: #a0a3bd;
  font-size: 0.95rem;
}

.testimonials .wrapper .cards_wrp .card .quote {
  color: #e6e4e4;
  line-height: 1.5;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.faqs {
  height: 100vh;
}

.faqs .wrapper {
  padding: 5rem 0;
}

.faqs .wrapper .header {
  color: #181830;
  width: 100%;
}

.faqs .wrapper .qst_wrapper {
  padding: 4rem 0;
  max-width: 1000px;
  margin: auto;
}

.faqs .wrapper .qst_wrapper details {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
}

.faqs .wrapper .qst_wrapper details summary {
  padding: 2rem 1rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 4rem;
  }
}

.faqs .wrapper .qst_wrapper details summary .number {
  color: #4a3aff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details summary .number {
    font-size: 3rem;
  }
}

.faqs .wrapper .qst_wrapper details summary .question_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details summary .question_wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
}

.faqs .wrapper .qst_wrapper details summary .question_wrp .qst {
  font-size: 1.2rem;
  font-weight: 600;
  color: #181830;
  padding-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details summary .question_wrp .qst {
    font-size: 1.5rem;
  }
}

.faqs .wrapper .qst_wrapper details summary .question_wrp .icon {
  background-color: #e6e7eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  padding: 0.4rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details summary .question_wrp .icon {
    padding: 0.5rem;
  }
}

.faqs .wrapper .qst_wrapper details summary .question_wrp .icon svg {
  font-size: 1.9rem;
  color: #6e7191;
}

.faqs .wrapper .qst_wrapper details .content {
  font-size: 1.2rem;
  padding: 0 3rem 2.5rem 1rem;
  line-height: 1.5;
  color: #6e7191;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details .content {
    padding: 0 4rem 2rem;
    width: 74%;
    margin: auto;
  }
}

.faqs .wrapper .qst_wrapper details:nth-child(5) {
  border-bottom: none;
}

.faqs .wrapper .qst_wrapper details[open] summary ~ * {
  -webkit-animation: fade 0.3s ease-in-out forwards;
          animation: fade 0.3s ease-in-out forwards;
}

@media screen and (min-width: 600px) {
  .faqs .wrapper .qst_wrapper details[open] summary {
    padding-bottom: 0;
  }
}

.faqs .wrapper .qst_wrapper details[open] summary .question_wrp .icon {
  background-color: #4a3aff;
}

.faqs .wrapper .qst_wrapper details[open] summary .question_wrp .icon svg {
  color: white;
}

.faqs .wrapper .qst_wrapper details > summary {
  list-style: none;
}

.faqs .wrapper .qst_wrapper details > summary::marker {
  display: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */