.hero_nav {
  background-color: #181830;
  height: auto !important;
}

.hero_nav::before {
  content: none;
}

.hero_nav .navigation .wrapper .cart_icon svg {
  color: white;
}

.hero_nav .navigation .wrapper .total_items {
  background-color: #4a3aff !important;
}

.product_hero .global_wrapper {
  width: 100%;
}

.product_hero .global_wrapper .wrapper {
  background-color: #181830;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 4rem 0;
}

.product_hero .global_wrapper .wrapper .product_features {
  width: 90%;
  margin: auto;
}

.product_hero .global_wrapper .wrapper .product_features img {
  width: 90px;
}

.product_hero .global_wrapper .wrapper .product_features .type {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin: 1rem 0;
}

.product_hero .global_wrapper .wrapper .product_features p {
  color: #d1d0d0;
  padding: 1rem 0;
}

.product_hero .global_wrapper .wrapper .product_features .ticket_features div {
  padding: 1rem 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.product_hero .global_wrapper .wrapper .product_features .ticket_features div svg {
  color: #7f73fd;
  font-size: 1.6rem;
  margin-right: 0.7rem;
}

.product_hero .global_wrapper .wrapper .add_to_cart {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 3rem 1.5rem;
  margin: 3rem auto;
}

.product_hero .global_wrapper .wrapper .add_to_cart p {
  padding: 1rem 0;
}

.product_hero .global_wrapper .wrapper .add_to_cart .prices {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-size: bold;
  color: #15d86c;
}

.product_hero .global_wrapper .wrapper .add_to_cart .prices span {
  color: #6e7191;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form svg {
  position: relative;
  left: 12rem;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form select:hover,
.product_hero .global_wrapper .wrapper .add_to_cart .form input:hover {
  border: 1px solid #181830;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form select,
.product_hero .global_wrapper .wrapper .add_to_cart .form input {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 0.5px solid #e7e7e7;
  font-size: 1.2rem;
  background-color: #f3f3f3;
  outline: none;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form select {
  padding: 1.3rem 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 0.5rem;
  width: 70%;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form input {
  width: 70px;
  padding: 1.3rem;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form button {
  width: 100%;
  font-size: 1.1rem;
  padding: 1.3rem 0;
  background-color: #4a3aff;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
  border: 2px solid #181830;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product_hero .global_wrapper .wrapper .add_to_cart .form button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #303457;
}

.product_hero .global_wrapper .wrapper_main_description {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.product_hero .global_wrapper .wrapper_main_description .main_description {
  padding: 4rem 0;
  width: 90%;
  margin: auto;
}

.product_hero .global_wrapper .wrapper_main_description .main_description h1,
.product_hero .global_wrapper .wrapper_main_description .main_description h2,
.product_hero .global_wrapper .wrapper_main_description .main_description h3 {
  margin: 1rem 0;
}

.product_hero .global_wrapper .wrapper_main_description .main_description p {
  margin-bottom: 1rem;
}

.product_hero .global_wrapper .wrapper_main_description .main_description p strong {
  color: #181830;
}

.product_hero .global_wrapper .wrapper_main_description .main_description p a {
  color: #4a3aff;
  text-decoration: unset;
}

.product_hero .global_wrapper .wrapper_main_description .main_description .ticket_benifits {
  margin-left: 1rem;
}
/*# sourceMappingURL=product.css.map */