//main site colors
$twitchcolor: #4a3aff;
$paragraphColor: #6e7191;
$headerColor: #181830;

.hero_nav {
  background-color: $headerColor;
  height: auto !important;
  &::before {
    content: none;
  }
  .navigation {
    .wrapper {
      .cart_icon {
        svg {
          color: white;
        }
      }
      .total_items {
        background-color: $twitchcolor !important;
      }
    }
  }
}

.product_hero {
  .wrapper {
    width: 100%;
    position: relative;
    .top_hero {
      padding: 4rem 2rem;
      width: 100%;
      margin: auto;
      background-color: $headerColor;
      @media screen and (min-width: 700px) {
        display: flex;
        justify-content: space-between;
        padding: 4rem 4rem;
      }
      .product_features {
        @media screen and (min-width: 700px) {
          width: 40%;
        }
        img {
          width: 90px;
        }
        .type {
          font-size: 3rem;
          color: white;
          font-weight: 600;
          margin: 1rem 0;
        }
        p {
          color: rgb(209, 208, 208);
          padding: 1rem 0;
        }
        .ticket_features {
          div {
            padding: 1rem 0;
            color: white;
            display: flex;
            align-items: center;
            font-weight: 600;
            svg {
              color: #7f73fd;
              font-size: 1.6rem;
              margin-right: 0.7rem;
            }
          }
        }
      }
      .add_to_cart {
        width: 100%;
        background-color: white;
        padding: 3rem 1.5rem;
        margin: 3rem 0;
        @media screen and (min-width: 700px) {
          width: 40%;
          height: 500px;
          margin: 0;
          padding: 5rem 3rem;
          position: sticky;
          top: 0;
          margin: 3rem auto;
        }
        h2 {
          @media screen and (min-width: 700px) {
            font-size: 2rem;
          }
        }
        p {
          padding: 1rem 0;
        }
        .prices {
          margin: 1rem 0;
          font-size: 1.5rem;
          font-size: bold;
          color: rgb(21, 216, 108);
          span {
            color: $paragraphColor;
            margin-left: 0.5rem;
            text-decoration: line-through;
          }
          @media screen and (min-width: 700px) {
            font-size: 1.8rem;
          }
        }
        .form {
          svg {
            position: relative;
            left: 12rem;
          }
          select:hover,
          input:hover {
            border: 1px solid $headerColor;
          }
          select,
          input {
            transition: 0.3s ease-in-out;
            border: 0.5px solid rgb(231, 231, 231);
            font-size: 1.2rem;
            background-color: rgb(243, 243, 243);
            outline: none;
          }
          select {
            padding: 1.3rem 2rem;
            appearance: none;
            margin-right: 0.5rem;
            width: 72%;
          }

          input {
            width: 70px;
            padding: 1.3rem;
          }
          .add_to_cart_btn {
            width: 100%;
            font-size: 1.1rem;
            padding: 1.3rem 0;
            background-color: $twitchcolor;
            color: white;
            text-transform: uppercase;
            margin-top: 1rem;
            border: 2px solid $headerColor;
            transition: 0.3s ease-in-out;
            &:hover {
              transform: translateY(-5px);
              background-color: rgb(48, 52, 87);
            }
          }
        }
      }
    }

    .wrapper_main_description {
      width: 100%;
      max-width: 1500px;
      margin: auto;
      background-color: #f6f6f6;
      .main_description {
        padding: 4rem 0;
        width: 90%;
        margin: auto;
        @media screen and (min-width: 700px) {
          text-align: center;
          width: 700px;
        }
        h1,
        h2,
        h3 {
          margin: 1rem 0;
        }
        p {
          margin-bottom: 1rem;
          color: #6e7191;
          strong {
            color: $headerColor;
          }
          a {
            color: $twitchcolor;
            text-decoration: unset;
          }
        }
        .ticket_benifits {
          padding: 2rem 0;
          margin-left: 1rem;
        }
      }
    }
  }
}
